body {
 background-color: darkslategray;
    font-family: "Raleway";
    
    
}

.button {
    color: black;
}

.link {
    font-weight: 800;
    color: black;
    font-size: small;
}

.column {
 font-family: "Raleway";   
}

.nav-menu {
    font-family: "Satisfy";
    text-align: center;
    display: flex;
     position: relative;
  justify-content: center;
}