body {
    background-image: url('https://i.imgur.com/g2yfzfx.jpeg');
    background-size: cover;
    background-attachment: fixed;
    
    
}

/* .button {
    
} */

.link {
    font-weight: 800;
    color: black;
    font-size: x-large;
}

h1 {
    
}