body {
  font-family: "Raleway";
  text-align: center;
}

.button {
  color: limegreen;
}

ul {
  padding-top: 2px;
}

.column {
  font-family: "Raleway";
}

.title {
  font-family: "Satisfy";
  font-size: 80px;
  padding-top: 3rem;
}

.nav-link {
  font-size: large;
  font-weight: 300;
  text-align: left;
  padding-left: 80px;
}

.subtitle {
  font-size: small;
}

h1 {
  font-family: "Satisfy";
  font-size: 64px;
}

h2 {
  color: rgb(216, 190, 245);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

p {
  padding-left: 4rem;
  padding-right: 4rem;
  color: rgb(216, 190, 245);
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.info-about {
  text-decoration: none;
}

#navbar {
  overflow: hidden;
  background-color: black;
}

#navbar a {
  /* float: left; */
  display: block;
  color: rgb(216, 190, 245);
  font-size: 15px;
  /* text-align: center; */
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

#about ul li {
  list-style: none;
}

label {
  font-weight: bolder !important;
}

html {
  scroll-behavior: smooth;
}

#section1 {
  height: 1000px;
  background-color: black;
}

#section2 {
  height: 600px;
  background-color: black;
  color: rgb(216, 190, 245);
}

#section3 {
  height: 1200px;
  background-color: black;
  color: rgb(216, 190, 245);
}

#section4 {
  height: 800px;
  background-color: black;
}

#section5 {
  height: 2800px;
  background-color: black;
}

#section6 {
  height: 800px;
  background-color: black;
}

.card-title {
  color: rgb(216, 190, 245);
  font-weight: 600;
}

.card-text {
  color: rgb(216, 190, 245);
  font-size: 15px;
}

.card {
  padding: 10px;
  padding-bottom: 10px;
}

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: snow;
  color: black;
}

.fa-github {
  background: black;
}

JUST FOR SHOW
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* JUST FOR SHOW*/
/* .fa-instagram {
  background: #125688;
  color: white;
}

/* JUST FOR SHOW
.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}*/

label {
  font-weight: bolder !important;
}

button {
  background: rgb(23, 135, 240);
  color: white;
  border-radius: 40%;
}

a {
  color: rgb(216, 190, 245);
}

#footer {
  background-color: black;
  text-align: center;
}

.navbar-brand {
  float: left;
}

.card {
  background-color: black;
}

.education {
  list-style-type: none;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(218, 169, 250), rgb(72, 1, 122));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.education {
  color: rgb(216, 190, 245);
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
}

.skills {
  font-weight: 600;
  padding-bottom: 3rem;
}

li {
  list-style: none;
  font-family: "Courier New", Courier, monospace;
}
/* 
.page-title {
  padding-top: 4rem;
} */

.project-pic {
  margin-top: 80px;
  border: 5px solid #555;
}

.project-name {
  padding-top: 40px;
  font-weight: 300;
  color: white;
  font-size: x-large;
}

.linkedin {
  text-align: right;
  text-decoration: none;
  padding-right: 80px;
}

.github {
  text-align: center;
  text-decoration: none;
}

.profile-header {
  font-weight: 600;
}

.contact {
  text-align: center;
}
