body {
font-family: "Raleway";
text-align: center;
color: cornsilk; 
}

.button {
color: black;
}

ul {
padding-top: 2px;
}

.column {
font-family: "Raleway";   
}

.title {
font-family: "Satisfy";
font-size: 64px;
padding-top: 6rem;
}

.nav-item {
flex-wrap: nowrap;
justify-content: center;
}

.subtitle {
font-size: small;
}

h1 {
font-family: "Satisfy";
font-size: 64px;
}

p {
padding-left: 4rem;
padding-right: 4rem;
color: #000202;
}

#section2 {
color: darkslategray;
}

.info-about {
text-decoration: none;
}

#navbar {
overflow: hidden;
background-color: darkslategray;
}

#navbar a {
/* float: left; */
display: block;
color: cornsilk;
font-size: smaller;
text-align: center;
padding: 14px;
text-decoration: none;
}

.content {
padding: 16px;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

.sticky + .content {
padding-top: 60px;
}

#about ul li {
list-style: none;
}

label {
font-weight: bolder !important;
}

html {
scroll-behavior: smooth;
}

#section1 {
height: 800px;
background-color: slategray;
}

#section2 {
height: 800px;
background-color: rgb(147, 199, 241);
}

#section3 {
    height: 900px;
    background-color: rgb(28, 28, 70);
    color: cornsilk
}

#section4 {
    height: 800px;
    background-color: rgb(161, 67, 79);
}

#section5 {
    height: 900px;
    background-color: chocolate;
}

#section6 {
    height: 800px;
    background-color: rgb(247, 189, 197);
}


.card-title {
    color: darkslategray;
}

.card {
    padding: 10px;
    padding-bottom: 10px;
}


.fa {
padding: 20px;
font-size: 30px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-linkedin {
background: #007bb5;
color: white;
}

.fa-github {
background: cornsilk
}

/* JUST FOR SHOW*/
.fa-facebook {
background: #3B5998;
color: white;
}


/* JUST FOR SHOW*/
.fa-instagram {
background: #125688;
color: white;
}

/* JUST FOR SHOW*/
.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

label {
    font-weight: bolder !important;
}

button {
background: rgb(23, 135, 240);
color: white;
border-radius: 40%;
}

a {
    color: cornsilk
}

footer {
    background-color: darkgray;
}