body {
 /* background-color: slategray; */
    font-family: "Raleway";
    text-align: center;
    color: cornsilk;
    
}

.button {
    color: black;
}

/* nav ul li {
    list-style-type: none;
}

ul li a {
    
    color:cornsilk;
    font-size: small;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: "Raleway";
    text-decoration: none;
    
    
    
} */
/* 
ul {
    display: flex;
    text-align: center;
    
} */

ul {
    padding-top: 2px;
}

.column {
    font-family: "Raleway";   
}

/* .nav-menu {
    font-family: "Satisfy";
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
} */

.title {
    font-family: "Satisfy";
    font-size: 64px;
    padding-top: 6rem;
}

.nav-item {
    flex-wrap: nowrap;
    justify-content: center;
}

.subtitle {
    font-size: small;
}

h1 {
    font-family: "Satisfy";
    font-size: 64px;
}

p {
    padding-left: 4rem;
    padding-right: 4rem;
    color: darkslategray;
}


/* .xcon-facebook {
    color: darkslategray !important; 
} */

#section2 {
    color: darkslategray;
}

.info-about {
    text-decoration: none;
}

/* .nav-link {
    position: fixed;
} */

#navbar {
    overflow: hidden;
    background-color: darkslategray;
    /* background-color: transparent; */
}

#navbar a {
    float: left;
    display: block;
    color: cornsilk;
    font-size: smaller;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

#about ul li {
    list-style: none;
}

label {
    font-weight: bolder !important;
}

html {
scroll-behavior: smooth;
}

#section1 {
height: 800px;
background-color: slategray;
}

#section2 {
height: 800px;
background-color: rgb(147, 199, 241);
}

#section3 {
    height: 800px;
    background-color: rgb(28, 28, 70);
    color: cornsilk
}

.card-title {
    color: darkslategray;
}

.card {
    padding: 10px;
    padding-bottom: 10px;
}

#section4 {
    height: 800px;
    background-color: rgb(161, 67, 79);
}